@charset "UTF-8";

@import "materialize.scss";

html{
  background-color: #f5f5f5;
}

@import url('https://fonts.googleapis.com/css?family=Sofia');
.brand-logo{
  font-family: 'Sofia', cursive;
}

.logo{
  margin-right: 8px;
}

.order{
  a{
    display: inline-flex;
    align-items: center;
    background-color: color("grey","lighten-2");
    margin-bottom: 3px;
    i{
      margin-left: 8px;
    }
  }
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

header, main, footer{
  display: block;
}

.no-shadow{
 box-shadow: none;
}

.breadcrumb{
  color: color("grey", "lighten-1");
  font-size: 15px;
}

.breadcrumb:last-child{
  color: $link-color;
  font-size: 15px;
}

.breadcrumb:before{
  color: color("grey", "lighten-1");
  font-size: 15px;
}

.card .card-image{
  img{
    object-fit: cover;
    height: 200px !important;
  }
}
@media #{$large-and-up} {
  nav .nav-wrapper{
    display: flex;
    align-items: center;

    div{

      a{
        position: relative !important;
      }
    }

    .nav-search{
      flex-grow: 1;
      padding: 0 32px;
      display: flex;

      input{
        background-color: $primary-color-light;
        box-sizing: border-box;
        margin-bottom: 0 !important;
        padding: 0 58px 0 18px;
        border-radius: 3px !important;
        border-bottom: 0 !important;
      }

      form{
        position: relative;
        display: flex !important;
        align-items: center !important;
        width: 100%;

        button{
          position: absolute;
          background-color: transparent;
          border: 0;
          bottom: initial;
          right: 10px;
        }
      }
    }

    .links-right{
      text-align: right;

      a{
        margin: 0 8px;
      }
    }
  }
}

.nav-search{

  input{
    background-color: $primary-color-light !important;
    box-sizing: border-box;
    margin-bottom: 0 !important;
    padding: 4px 58px 4px 18px !important;
    border-radius: 0 !important;
    border-bottom: 0 !important;
  }

  form{
    position: relative;
    display: flex !important;
    align-items: center !important;
    width: 100%;

    button{
      position: absolute;
      background-color: transparent;
      border: 0;
      right: 10px;
    }
  }

  ::-webkit-input-placeholder {
     color: #fff;
  }

  ::-moz-placeholder {
     color: #fff;
  }

  ::-moz-placeholder {
     color: #fff;
  }

  ::-ms-input-placeholder {
     color: #fff;
  }
}

@media #{$medium-and-down} {
  .nav-extended .container{
    margin: 0 !important;
    width: 100% !important;
  }
  .breadcrumb-nav{
    margin: 0 18px;
  }
}

@media #{$small-and-down} {
  .center-small, .order{
    text-align: center !important;
  }
}
