/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/10/2017, 22:04:01
    Author     : 71600515
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 10px 16px;
}
.logo{
    font-family: 'Sofia', cursive;
    font-size: 24px;
}
nav{
    background-color: #3c8bca;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
}

nav div{
    display: flex;
    align-items: center;
}
nav a{
    color: #fff;
}
.divider{
    flex-grow: 1;
}
a{
    text-decoration: none;
    color: #8c8c8c;
}
a.active{
    color: #42a5f5;
}
div.breadcrumb{
    border-bottom: 1px solid #dedede;
    padding: 4px 0;
}
div.breadcrumb ul{
    display: flex;
    align-items: center;
    list-style: none;
}
div.breadcrumb ul li{
    display: flex;
    align-items: center;
}
div.breadcrumb ul li i{
    cursor: default;
    color: #8c8c8c;
}
div.breadcrumb ul li:last-child{
    display: none;
}
